[Desktop Entry]
Version=1.0
Type=Application
Name=PowerGraphs
Comment=Visualizing SemiShop Laser Power Tables
Icon=PowerGraphs
Exec=sh -c "\\$HOME/Applications/PowerGraphs/PowerGraphs"
Terminal=false
Categories=Education;Science
# Windows Manager groups windows with the same WM_CLASS
StartupWMClass=PowerGraphs