<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>PowerGraphs</string>
    <key>CFBundleIdentifier</key>
    <string>com.petrstepanov.powergraphs</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleIconFile</key>
    <string>PowerGraphs</string>
</dict>
</plist>
