[Desktop Entry]
Version=1.0
Type=Application
Name=PowerGraphs
Comment=Visualizing SemiShop Laser Power Tables
Icon=PowerGraphs
Exec=sh -c "\\$HOME/.local/bin/PowerGraphs"
Terminal=false
Categories=Science
# Windows Manager groups windows with the same WM_CLASS
StartupWMClass=PowerGraphs